  <footer >
    <div class="footer">
      <p>
        Web Application Development (LTAT.05.004) - Homework 4
      </p>
      <div id="nav_footer">
        <a href="/">Homepage</a>
      </div>
    </div>
  </footer>