<header id="main-header">
  <img src="/images/Color_Post_it.svg" alt="postit logo" />
  <form class="search-form">
    <input type="text" />
    <input type="submit" value="Search" />
  </form>
  <div class="user-menu">
    <img src="/images/user-circle.svg" alt="user icon" />
  </div>
  <div id="nav">
    <a href="/">Home</a> |
    <a href="/posts">Posts</a> |
    <a href="/contactus">Contact Us</a>
</div>
</header>
