<%# Partial head.ejs: contains opening <html>, <head> and opening <body> tags %>
    <%- include('partials/head') %>

    <%- include('partials/header') %>

    <h1>See on vealeht</h1>

    <%- include('partials/footer') %>

<%# Partial page_end.ejs: contains ending <body> and <html> tags %>
<%- include('partials/page_end') %>