<%# Partial head.ejs: contains opening <html>, <head> and opening <body> tags %>
<%- include('partials/head') %>

    <%- include('partials/header') %>

    <section class="container contactus-page create">
        <div class="container contactus">
            <div class="row">
                <div class="empty"></div>
                <h1 class="center">The page is created by:</h1>
                <table class="center">
                    <tr>
                        <th>Name</th>
                        <th>e-mail</th>
                        <th>Phone</th>
                    </tr>
                    <tr>
                        <td>Jaak Ivask</td>
                        <td>jaak.ivask@ut.ee</td>
                        <td>+372 521 4610</td>
                    </tr>
                    <tr>
                        <td>Mario Käära</td>
                        <td>mario.kaara@ut.ee</td>
                        <td>+372 5669 6517</td>
                    </tr>
                    <tr>
                        <td>Peeter Niidas</td>
                        <td>peeter.niidas@ut.ee</td>
                        <td>+372 511 1171</td>
                      </tr>
                </table>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>

<%# Partial page_end.ejs: contains ending <body> and <html> tags %>
<%- include('partials/page_end') %>
