<!DOCTYPE html>

<body>
    <footer >
      <p>
        Web Application Development (LTAT.05.004) - Homework 4
      </p>
      <div id="nav" v-if="$route.name != 'ContactUs'">
        <router-link to="/contactus">Contact Us</router-link>
    </div>
    </footer>
</body>