/*Generic styles*/

html, body {
    height: 100%;
}
body {
    background-color:#1778bd;
    margin: 0;
}

.container {
    height: auto;
    min-height: calc(100vh - 190px);
    width:800px;
    margin:0 auto;
}

form{
    display: flex;
}

form input[type="text"], form input[type="password"], form input[type="submit"]{
    padding:10px 0 10px 0;
    width: 90%;
}

form input[type="text"]:hover, form input[type="password"]:hover{
    border: 2px solid #1c63a7;
}

input[type="submit"]{
    background-color: #1c63a7;
    color:white;
}

input::placeholder{
    padding-left: 5px;
}

/*Header styles*/

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 90px;
}

#main-header img {
    height: 50px;;
}

.search-form{
    flex-direction: row;
    width:35%;
}

.search-form input[type="submit"]{
    width:100px;
}

/*Navigation*/

#nav{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

#nav_footer{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

#nav a {
    padding: 0 15px;
    font-size: 20px;
    font-weight: 700;
}

/*Login page and form styles*/

.container.login {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.login-form {
    display: flex;
    width:800px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding:40px 0 40px 0;
    position:relative;
}
.login-form img{ 
    position: absolute;
    left: 20px;
    top:20px;
    width:80px;
}

.login-form form{
    flex-direction: column;
    width: 70%;
}

.login-form form p{
   margin-bottom:0;
   display: flex;
   justify-content: center;
}

.login-form form p:last-child{
    margin-bottom:20px;
 }

.login-form form input[type="submit"]{
    text-align: center;
    width:70%;
    display: block;
    margin: 0 auto;
}

/*index page styles*/

.container.index-page{
    background-color: white;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*postit page styles*/

.container.postit-page{
    background-color: white;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.post{
    background-color:white;
    width: 70%;
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    min-width: 100px;
    height: auto;
    margin: 1% auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    }

.container.post:hover{
    background-color:beige;
    }


.container-post{
    background-color:white;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    min-width: 100px;
    height: auto;
    margin: 1% auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    }

.container-post:hover{
    background-color:beige;
    }

.container-post-head{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 2mm;
    list-style-type: none;
    justify-content:space-between;
    align-items: center;
}

.container-post-head img{
    width: 25px;
}

.container-post-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-singlepost-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-post-image img{
    width: 100%;
}

.container-post-comment{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2mm;
}

.container-post-comment .link-wrapper{
    display: flex;
    justify-content: space-between;
}

.container-post-comment .link-wrapper button, .container-post-comment .link-wrapper a{
    margin-left:auto;
    width:25%;
}

.container-post-comment img{
    width: 5%;
}

#my_paragraph {
    font-weight: bold;
    }

.my_caption {
    font-weight:normal;
    font-size: 16px;
    }

.date{
    font-weight:normal;
    font-size: 12px;
    text-align: right;
    }

div + p{
    color: coral;
  }

.other~p{
    color: blue;
}

span {
    background-color:white;
}

div > span {
    background-color:yellow;
}

/*Crete new post */

.create-post{
    width: 80%;
    gap: 20px;
    flex-wrap: wrap;
}

.create-post .post-data{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.create-post .post-data input{
    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
}

.create-post .post-data input[type="submit"]{
    flex: 0 0 100%;
}

.create-post .post-data textarea{
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
}

.create-post .post-data label{
    margin-bottom: 5px;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 0 0 20px 0;
}

/*contactus page styles*/

.container.contactus-page{
    background-color: white;
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.container.contactus_old{
    background-color: white;
    width:800px;
    flex-grow: 1;
    text-align: center;

    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container.contactus{
    max-width: 50%;
    flex-grow: 1;
    text-align: center;
    height: 20%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
  padding: 10px;
}

.row {
    width: auto;
}